/* Custom properties/variables  */
:root {
    --main-white: #dbdfe0;
    --main-purple: #ac3b61;
    --main-lightgray: #cfd4d6;
    --main-orange: orange;
    --main-backgroundgray: #6c6d6c;}

aside h1{
    writing-mode: vertical-rl;
      text-orientation: upright;
      text-transform: uppercase;
    border-style: solid;
    font-family: 'Syncopate', sans-serif;
    font-size: 2rem;
    background-color: var(--main-purple);
    color: var(--main-orange);
    padding: 20px 5px;
    margin: 150px 15px 2px 0;
    line-height: 40px;
    position: fixed;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
               15px 15px 15px rgba(0,0,0,0.1),
              inset -5px -5px 5px rgba(255, 255, 255, 0.2),
              inset 5px 5px 5px rgba(0,0,0,0.1);}

 /*clock*/
 canvas {
	height: 110px;
	width: auto;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;}


html {
    box-sizing: border-box;

    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {font-size: 60%;}}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {font-size: 58%;}}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {font-size: 55%;}}

/* Base styles */

body {
    background-image: url(forportfolio.svg);
    background-repeat: no-repeat;
    background-size: cover;}

h1,
h2 {
    font-weight: 700;
    text-align: center;}

h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 6rem;}

h2 {
    font-size: 4.2rem;
    font-family: 'Headland One', serif;
    text-shadow: 1px 1px 2px #ac3b61;}

h3 {
    font-family: 'Oleo Script', cursive;
      font-size: 3rem;
      color: var(--main-white);
      text-shadow: #000 1px 0 10px;}

ul {
    list-style: none;
    font-size: 2rem;}

a {
    text-decoration: none;
    color: var(--main-white);}

img {
    display: flex;
    width: 100%;}

h1, h2, footer {
    color: var(--main-white);
    text-shadow: #000 1px 0 10px;}

section > p, li {
    color: var(--main-lightgray);
    text-shadow: 1px 1px 2px #000;}

 /*clock*/
.time-weather {
  display: flex;
  padding-bottom: 0;}

.time {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #fff;
    padding-top: 1.5rem;
    text-align: center;
    width: auto;}


.hms {
    font-size: 37pt;
    font-weight: 300;}

.ampm {
    font-size: 15pt;}

.date {
    font-size: 15pt;}


/*weather*/
.weather {
  margin-right: 2rem; 
  height: 100px;
  width: 100px;
  box-shadow: 28px 28px 55px #0f0f0f, 
             -28px -28px 55px #3d3d3d;}   

/* nav */
#welcome-section,
#projects,
#certificates,
#art-work,
  #contact  {padding-top:150px;}


#profile-img{
width: 100px;
height: 100px;
border-radius: 50%;
border: 5px solid;
border-color: var(--main-orange);
box-shadow: 28px 28px 55px #0f0f0f, 
             -28px -28px 55px #3d3d3d;
z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 4px;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 10px rgba(255,255,255,0.3);
  line-height: 40px;
}

.nav:hover {
  background-image: url(trianglepurple.svg);
  box-shadow: 5px 5px 10px rgba(172,59,97,0.3);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  justify-content: space-between;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 1rem;
    -webkit-tap-highlight-color: transparent;
  }
}

.nav-list .first {
  border-radius: 1.5em 0 0 1.5em;
  box-shadow:
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset,
    -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}

.nav-list .first:hover {
  border-radius: 1.5em 0 0 1.5em;
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset,
    -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}

.nav-list .last {
  border-radius: 0 1.5em 1.5em 0;
  box-shadow:
    0 -0.1em 0 #926086 inset,
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #2726267f inset,
    0 0.1em 0 #afa490 inset,
    -0.1em 0 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}

.nav-list .last:hover{
  border-radius: 0 1.5em 1.5em 0;
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 -0.1em 0 #722257 inset,
    0 0.1em 0 #847a62 inset,
    -0.1em 0 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}

.nav-list a {
      font-family: Tahoma, Verdana, Segoe, sans-serif;
      font-size: 2.8rem;
      color: orange;
      background-image: linear-gradient(#ffffff 33%,#414751 58%,#837b52,#c5baa1,#c3adaa);
      box-shadow:  14px 14px 28px #0f0f0f, 
             -14px -14px 28px #3d3d3d;
      cursor: pointer;
      display: block;
      margin-right: 1.5rem;
      margin-top: 3rem;
      margin-bottom: .5em;
      width: 100%;
      height: .25em;
      transition: box-shadow 0.5s ease-in-out;
      padding: 2.5rem 1rem;
      padding-right: .5rem;
      line-height: .5rem;
      transition: padding-right 0.5s;}

.nav-list a:hover {
      background: linear-gradient(orange, #262626);
      border-radius: 15px;
      box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                 15px 15px 15px rgba(0,0,0,0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0,0,0,0.1);
      z-index: 10;
      color: #fff;
      padding-right: 3rem;}


@media (prefers-color-scheme: dark) {:root #e3e4e8 #5c6270, #17181c #e3e4e8;}
  .nav-list a {box-shadow:
      0.1em 0 0 #2726267f inset,
      -0.1em 0 0 #27262600 inset,
      0 0.1em 0 #afa490 inset,
      0 -0.1em 0 #0000001f,
      0 0.2em 0.5em #0000007f,
      0 -0.1em 0 #926086 inset,
      -0.1em -0.2em 0 #ffffff7f inset;}

  .nav-list a:hover {
    box-shadow:
      0.1em 0 0 #272626af inset,
      -0.1em 0 0 #272626af inset,
      0 0.1em 0 #847a62 inset,
      0 -0.1em 0 #0000007f,
      0 0.1em 0 #0000007f,
      0 -0.1em 0 #722257 inset,
      -0.1em -0.2em 0 #ffffff7f inset;}
/* Welcome section */

.course-image {
  width: 10%;
  height: auto;
  padding: 2rem;
  position: relative;
  margin-left: 45%;
  border-radius: 50%;
  background: linear-gradient(145deg, #4a4f50, #585e5f);
  box-shadow:  6px 6px 8px #212324, 
             -6px -6px 8px #838d8e;
  z-index: -1;
}

.welcome-section {
  font-family: 'Kumar One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to top, rgba(255,165,0,0), rgba(255,165,0,1));
}  

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

.info-details{
  text-align: left;
}

/* Projects section */
.projects-grid {
  /* Grid Fallback */
  margin: 50px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-self: center; */

  
  /* Supports Grid */
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(10vh, auto);
  grid-gap: 4em;
}

.project-module, .cert-module, .art-module {
  padding: 25px;
  display: flex;
  align-items: center;
  height: auto;
  flex: 1 1 auto;
}

.certificates-grid, .artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 95%;
  max-width: 1280px;
  margin: 50px auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .certificates-section {
    padding: 6rem 1rem;
  }

  .certificates-grid {
    grid-template-columns: 1fr;
  }
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .cert-module, .project-module {
    margin: auto;
  }
}

.grid-title{
  font-family: 'Syncopate', sans-serif;
  padding-top: 15px; 
  text-align: center;
  font-size: 2rem;
  color: var(--main-white);
}


.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
  font-family: 'Syncopate', sans-serif;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 4rem;
  box-shadow: inset 0 0 0 #ac3b61;
-webkit-transition: ease-out 0.8s;
-moz-transition: ease-out 0.8s;
transition: ease-out 0.8s;
color: var(--main-orange);
}

.contact-details:hover {
  color: var(--main-white);
  box-shadow: inset 400px 0 0 0 #454545;
  border-radius: 50%;
}

/*show-more button*/

.show-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.show-more-btn-hover {
  cursor: pointer;
  transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
  font-family: 'Syncopate', sans-serif;
    font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-orange);
  padding: 2rem 4rem;
  border-radius: 8rem;
}
.show-more-btn-hover:hover {
  background-color: var(--main-purple);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
  transform: scale(1.05) translateY(-0.5rem);
}
.show-more-btn-hover:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 16px 16px rgba(0, 0, 0, 0.15), 8px 32px 32px rgba(0, 0, 0, 0.15), -15px -15px 15px rgba(255, 255, 255, 0.2),
             15px 15px 15px rgba(0,0,0,0.1),
            inset -5px -5px 5px rgba(255, 255, 255, 0.2),
            inset 5px 5px 5px rgba(0,0,0,0.1);
            text-shadow: 1px 1px 2px #000;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  font-weight: 300;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3.5rem 0;
  background-image: url(triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -5px 10px rgba(255,255,255,0.3);
}

footer:hover{
background-image: url(trianglepurple.svg);
  box-shadow: 0 -5px 10px rgba(172,59,97,0.3);}

footer > p {
  padding: 35px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  line-height: 5px;
  margin: -2rem auto;
 font-family: 'Libre Barcode 128 Text', cursive;
  border-radius: 15px;
  }

@media (max-width: 28.75em) {
  footer {
    flex-direction: row;
    text-align: center;
  }
}

/*shadow effects on tiles*/
footer > p, 
.cert-module, 
.project-module,
.art-module, .show-more-btn-hover {
  background: var(--main-backgroundgray);
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
             15px 15px 15px rgba(0,0,0,0.1),
            inset -5px -5px 5px rgba(255, 255, 255, 0.2),
            inset 5px 5px 5px rgba(0,0,0,0.1);
            text-shadow: 1px 1px 2px #000;
}

.cert-module:hover, .project-module:hover, .art-module:hover{
background: var(--main-purple);
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-purple);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-orange);
}
::-webkit-scrollbar-track:hover {
 background: var(--main-purple);
  }
